.logo {
    max-width: 100%;
}

.blog-content img {
    max-width: 100%;
}

.blog-content video {
    max-width: 100%;
}

.blog-feed p.pt-5:first-child {
    padding-top: 0 !important;
}

.pointer {
    cursor: pointer;
}
