<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Pavlov Finance</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/style.css">
    <link href="/favicon.png" rel="icon">
</head>
<body class="d-flex flex-column" style="min-height: 100vh">
<nav class="navbar navbar-expand-lg bg-primary mb-5" data-bs-theme="dark">
    <div class="container offset-2">
        <a class="navbar-brand" href="/">Pavlov Finance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Открыть меню">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if current_path %}
                        {% if current_path == '/' %}active{% endif %}
                    {% endif %}" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_path %}
                        {% if current_path == '/blog/' %}active{% endif %}
                    {% endif %}" href="/blog">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_path %}
                        {% if current_path == '/extra/' %}active{% endif %}
                    {% endif %}" href="/extra">Полезное</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock content %}
<footer class="mt-auto sticky-bottom">
    <div class="container-fluid mt-5 pt-3 pb-3 bg-primary">
        <div class="row justify-content-center">
            <div class="col-md-2 text-center pb-3">
                <p class="text-light pointer" onclick="window.scrollTo(0, 0)"><i class="bi bi-chevron-up"></i> Вверх</p>
                <p class="text-light pointer" onclick="history.back()"><i class="bi bi-chevron-left"></i> Назад</p>
            </div>
            <div class="col-md-2 text-center h5 pb-3 align-content-center">
                <span class="text-light">Контакты</span>
            </div>
            <div class="col-md-2 text-center h5 pb-3 align-content-center">
                <a href="https://www.linkedin.com/in/oleg-pavlov-m/"><i class="bi bi-linkedin"> </i>LinkedIn</a>
            </div>
            <div class="col-md-2 text-center h5 pb-3 align-content-center">
                <a href="https://t.me/pavlovfinance"><i class="bi bi-telegram"> </i>Telegram</a>
            </div>
            <div class="col-md-2 text-center h5 pb-3 align-content-center">
                <a href="mailto:oleg.pav.m@gmail.com"><i class="bi bi-envelope-fill"> </i>Email</a>
            </div>
        </div>
    </div>
</footer>
<script src="/bootstrap.bundle.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0TWQRTQKCR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0TWQRTQKCR');
</script>
</body>
</html>