{% extends "base.html" %}

{% block title %} - Полезное{% endblock title %}

{% block content %}
<div class="container flex-fill">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-xl-8 col-xxl-7 text-center">
            <h1>Набор полезной информации</h1>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        {% for page in section.pages %}
        <div class="col-sm-12 col-md-10 col-xl-8 col-xxl-7">
            <h3>{{ page.title }}</h3>
            <p>{{ page.description }}</p>
            <p class="mb-5"><a href="{{ page.permalink | safe }}"><i class="bi bi-link"> </i>Подробнее</a></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
