{% extends "base.html" %}

{% block content %}
<div class="container flex-fill">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Финансы, идеи, поведение людей</h1>
            <p>
                <i>Если ты находишься на этом сайте - скорее всего ты знаешь
                    меня лично. И знаешь о чем я пишу, что предлагаю и зачем это всё.
                    Но если ты пришел сюда впервые - пару деталей обо мне.</i>
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-md-4">
            <img class="logo mt-1" src="logo.jpeg" alt="logo"/>
        </div>
        <div class="col-md-4">
            <p class="mt-3 mt-sm-3 mt-md-0">С 2014 года я, так или иначе, работал в финансовых компаниях - от
                больших и сильных до маленьких стартапов. А также создавал и свои.
                С 2016 года я, так или иначе, касаюсь мира криптовалют. Я видел многое,
                знаю многое и у меня есть чем поделиться с миром. Нет, я не бог и не пророк,
                я не предсказываю будущее на годы вперед. Более того - я противник таких прогнозов,
                у меня ты увидишь множество историй и примеров почему так. Почему многое в финансовом
                мире похоже на гадание на картах и прогнозы по знакам луны. Я много зарабатывал и
                много терял. Даже слишком много. И вот я здесь. У меня есть что рассказать.
                Об этом и мой блог. Можно посмотреть мой путь в LinkedIn, а обсудить в Telegram.
                К слову, в LinkedIn не всё детализировано - в реальности было значительно
                больше приключений и о них я пишу в своем блоге.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="mt-2">Ну и добро пожаловать. Если ты тоже смотришь на мир рационально и системно - тебе понравится.
                Если интересуешься миром финансов - тем более. А если тебе хочется почитать что-то
                не формальное, а про жизнь - особенно хорошо.
            </p>
        </div>
    </div>
</div>
{% endblock content %}